<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <style>
    a {
        text-decoration: none;
     }
    </style>
        <title>Title</title>
</head>
<body>

    Hello, {{ user }} !
    Status :
    {% if last_date %}
    Your last entry in the database on {{ last_date }}
    {% else %}
    No Charts. Please update your database or check account name.
    {% endif %}





 <form action = "{% url 'logout' %}"><button> LOG OUT </button></form>

 <form action ="download" ><button> UPDATE DATABASE </button></form>
 <form action ="delete"><button> CLEAR DATABASE </button></form>

<table border="1">

    <tr>
        <th>TOP TRACKS</th>
        <th>TOP ARTISTS</th>
        <th>TOP ALBUMS</th>
    <tr>

        <td> <form action ="tracks_year"> <button> 1 YEAR  </button> </form> </td>
        <td> <form action ="artists_year"> <button> 1 YEAR  </button> </form></td>
        <td> <form action ="albums_year">  <button> 1 YEAR  </button> </form></td>
    </tr>


</table>


</body>
</html>