<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <title>Title</title>
      <style>
      a {
        text-decoration: none;
     }
   table {
    width: 300px;
    border: 1px solid green;
    margin: auto;
   }
   td {
    height: 50px;
    text-align: center;
    }
  </style>

</head>
<body>

    Hello, {{ user }} !
    Status :
    {% if last_date %}
    Your last entry in the database on {{ last_date }}
    {% else %}
    No Charts. Please update your database or check account name.
    {% endif %}





 <form action = "{% url 'logout' %}"><button> LOG OUT </button></form>

 <form action ="download" ><button> UPDATE DATABASE </button></form>
 <form action ="delete"><button> CLEAR DATABASE </button></form>

<table border="1">

    <tr>
        <th>TOP TRACKS</th>
        <th>TOP ARTISTS</th>
        <th>TOP ALBUMS</th>
    </tr>
    <tr>
        <td> <form action ="tracks_week"> <button> WEEK  </button> </form> </td>
        <td> <form action ="artists_week"> <button> WEEK </button> </form></td>
        <td> <form action ="albums_week">  <button> WEEK </button> </form></td>
    </tr>
    <tr>
        <td> <form action ="tracks_month"> <button>  MONTH  </button> </form> </td>
        <td> <form action ="artists_month"> <button>  MONTH </button> </form></td>
        <td> <form action ="albums_month">  <button>  MONTH </button> </form></td>
    </tr>
    <tr>
        <td> <form action ="tracks_3month"> <button> 3 MONTH  </button> </form> </td>
        <td> <form action ="artists_3month"> <button> 3 MONTH </button> </form></td>
        <td> <form action ="albums_3month">  <button> 3 MONTH </button> </form></td>
    </tr>
    <tr>
        <td> <form action ="tracks_6month"> <button> 6 MONTH  </button> </form> </td>
        <td> <form action ="artists_6month"> <button> 6 MONTH </button> </form></td>
        <td> <form action ="albums_6month">  <button> 6 MONTH </button> </form></td>
    </tr>
    <tr>
        <td> <form action ="tracks_year"> <button> 1 YEAR  </button> </form> </td>
        <td> <form action ="artists_year"> <button> 1 YEAR  </button> </form></td>
        <td> <form action ="albums_year">  <button> 1 YEAR  </button> </form></td>
    </tr>


</table>


</body>
</html>