{% extends 'charts/charts.html' %}


{% block content %}
          <h2> CONFIRM DELETING </h2>
         <form action="" method="POST">
             {% csrf_token %}
             {{ delete.delete_user_db }}
              <button type = "submit" class="btn btn-secondary"> DELETE </button>
            {% if action %}

              <p>  db deleted </p>
         {% endif %}
          </form>

    <form  action = "{% url 'charts' %}"><button class="btn btn-secondary"> BACK  </button> </form>


{% endblock %}