<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" action = "{{ download.download_user_db }}" method = "POST" > Download </button>
                <label for="{{ download.download_user_db }}">Downloading progress:</label>

                <progress id="{{ download.download_user_db }}" max="100" >  </progress>
            </form>

</body>
</html>