<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head>
<meta http-equiv="refresh" content="1;{{ charts }}" />
</head> The download may take several minutes. Please wait for a redirect.
<body>
            <form action="" method="POST">
                {% csrf_token %}
                {{ download.clear_user_db }}
                {{ download_user_db }}
                <button type="submit" class="btn btn-primary"> Download
                    {% if download.download_user_db %}
                    <label for="{{ download.download_user_db }}"> progress:</label>

                <progress id="{{ download.download_user_db }}" max="100" >  </progress>
                    {% endif %}
                </button>

            </form>


    <form  action = "{% url 'charts' %}">
    <button> BACK  </button> </form>

</body>
</html>