{% extends 'charts/charts.html' %}


{% block content %}

<p> Make sure you clear the database before downloading. </p>
<p> You need to download 6 packs sequentially to download information for the year.</p>
<p> If user does not exist on last.fm, no information will be loaded.</p>
<p> If your activity is low, then the last 2 months will be loaded into the database. </p>
<p> Download may take a few minutes. </p>

            <form action="" method="POST">

                {% csrf_token %}
                {{ download_user_db }}

                <button type="submit" name="btnform1" class="btn btn-secondary"> Download 1st pack (2 months) </button>

            </form>

            <form action="" method="POST">
                {% csrf_token %}
                {{ download_user_db2 }}
                <button type="submit" name="btnform2" class="btn btn-secondary"> Download 2nd pack (2 months) </button>

            </form>

            <form action="" method="POST">
                {% csrf_token %}
                {{ download_user_db3 }}
                <button type="submit" name="btnform3" class="btn btn-secondary"> Download 3rd pack (2 months) </button>
            </form>

            <form action="" method="POST">
                {% csrf_token %}
                {{ download_user_db4 }}
                <button type="submit" name="btnform4" class="btn btn-secondary"> Download 4th pack (2 months)  </button>
            </form>

            <form action="" method="POST">
                {% csrf_token %}
                {{ download_user_db5 }}
                <button type="submit" name="btnform5" class="btn btn-secondary"> Download 5th pack (2 months)  </button>
            </form>

            <form action="" method="POST">
                {% csrf_token %}
                {{ download_user_db6 }}
                <button type="submit" name="btnform6" class="btn btn-secondary"> Download 6th pack (2 months)  </button>
            </form>

   <script>

    const buttons = document.querySelectorAll('form > button[type="submit"]');
buttons.forEach((btn) => {
  btn.addEventListener('click', (e) => { e.target.innerText == 'Download ' ? e.target.innerText = 'Downloading. Wait' : e.target.innerText = 'Downloading. Wait';
        e.target.classList.toggle('loading'); });
});
        </script>

    <form  action = "{% url 'charts' %}">
    <button class="btn btn-secondary"> BACK </button> </form>

{% endblock %}