{% extends 'charts/charts.html' %}


{% block content %}
       <h2> TOP ALBUMS FOR 1 WEEK </h2>
 <form action = "{% url 'charts' %}"><button class="btn btn-secondary"> BACK </button> </form>

    <ul class = 'pages'>
 {% for p in pages_albums_week.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
    {% endfor %}
</ul>
<table class="table table-hover", border="1">
    <tr>
        <th>PLACE</th>
        <th>ARTIST</th>
        <th>ALBUM</th>
        <th>COUNT</th>
    </tr>

    {% for list in pages_albums_week %}
    <tr>
        <td>{{ forloop.counter0|add:pages_albums_week.start_index }}</td>
        <td><a href="https://www.last.fm/music/{{ list.artist }}"target="_blank">{{ list.artist }}</a></td>
        <td>{{ list.album }}</td>
        <td>{{ list.count }}</td>
    </tr>
    {% empty %}
      <p> Sorry, no charts for you. Please, download base from Last.fm </p>
    {% endfor %}





</table>
<ul class = 'pages'>
 {% for p in pages_albums_week.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
    {% endfor %}
</ul>
 <form action = "{% url 'charts' %}"><button class="btn btn-secondary"> BACK </button> </form>
{% endblock %}