<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action = "{% url 'charts' %}"><button> BACK </button> </form>
<table border="1">
    <tr>
        <th>PLACE</th>
        <th>ARTIST</th>
        <th>ALBUM</th>
        <th>COUNT</th>
    </tr>
    {% for list in top_user_albums %}
    <tr>
      <td>{{ forloop.counter  }}</td>
      <td><a href="https://www.last.fm/music/{{ list.artist }}"> {{ list.artist }}</a></td>
      <td>{{ list.album }}</td>
      <td>{{ list.count }}</td>
    </tr>
    {% empty %}
        Sorry, no charts for you. Please, download base from Last.fm
    {% endfor %}
</table>
</body>
</html>