<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
   a {
    text-decoration: none;
   }
  </style>
    <title>Title</title>
     <style>
   table {
    width: 300px;
    border: 1px solid green;
    margin: auto;
   }
   td {
    height: 50px;
    text-align: center;
    }
  </style>
</head>

<body>
    <form action = "{% url 'charts' %}"><button> BACK </button> </form>
<table border="1">
    <tr>
        <th>PLACE</th>
        <th>ARTIST</th>
        <th>COUNT</th>
    </tr>
    {% for list in top_artists_week %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="https://www.last.fm/music/{{ list.artist }}">{{ list.artist }}</a></td>
        <td>{{ list.count}}</td>
    </tr>
    {% empty %}
        Sorry, no charts for you. Please, download base from Last.fm
    {% endfor %}
</table>
</body>
</html>